.hero__section-bg {
    background: linear-gradient(-45deg, #042c3c, #246f7c, #48c3c5, #8fd3d0);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.hero__section{
    display: flex;
    flex-direction: row;
}

.child1 {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.child1 h4{
    color: #FFF;
}

.child2 {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.child1 h1{
    color: #FFF;

}

.btn__more{
    padding: 10px 20px 10px 20px;
    font-size: 1.6rem;
    color: #FFF;
    border: none;
    background-color: #00647d63;
    border-radius: 10px;
}

.img-container{
}

.img-container img {
    width: 700px;
}